<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <style>
        .homepage-HUD {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 20%;
        }

        .button {
            border: 1px solid black;
            background-color: #007bff;
            color: black;
            padding: 10px 10px;
            margin: 10px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="homepage-HUD">
        <h1>Welcome to the homepage</h1>
        <p style="font-size: 20px; color: #333;">Click the button below to Sign in</p>
        <a class="button" href="/login">Enter</a>
    </div>
</body>

</html>